body {
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
    min-height: 100vh;
}

h1 {
    color: gold;
    font-size: 60px;
}

h2 {
    color: white;
}

h3 {
    color: gold;
}

p {
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

button {
    background: gold;
    color: black;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: orange;
}

.hero {
      min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;

    gap: 60px;
    padding: 40px;
}
.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 450px;
}


    
